<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :image, placeholder: "Image" %>
  </div>
  <div class="field">
    <%= f.text_field :video, placeholder: "Video" %>
  </div>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.number_field :star, placeholder: "Star" %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Description", length: "800", class: "materialize-textarea" %>
  </div>
  
  <div class="field">
    <%= f.check_box :public, id: :public, class: "field-in" %>
    <label for="public">Public</label>
  </div>
  
  <button class="btn" type="submit">Submit</button>
  <%= link_to "Go to all courses", courses_path, class: "btn" %>
<% end %>
